.comment {
    padding: 10px 10px;
    border-bottom: 1px solid white;
}

.comment:hover {
    background-color: white;
}

.comment__info {
    display: flex;
}

.comment__info>p {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}

.comment__text {
    margin-left: 45px;
    font-size: 13px;
    padding-bottom: 5px;
}

.comment__avatar {
    width: 30px !important;
    height: 30px !important;
}